@using System.Globalization
@model Payroll_Manager.Areas.Admin.PaginatedList<Payroll_Manager.Areas.Admin.Models.VM_PurchaseOrder.PurchaseOrderIndexViewModel>

<environment names="Development,Staging,Production">
    <link href="~/css/Animated.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Employee.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/assets/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
</environment>

@{
    ViewBag.Title = "Giao dịch";
}
<div class="animated fadeIn employee index">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <nav aria-label="breadcrumb">
                        @* asp-action runs action method name *@
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Danh sách giao dịch</li>
                        </ol>
                    </nav><br /><br />
                    <div class="row">
                        <div class="col-lg-12 table-responsive-md">
                            <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="title"><span><a href="#">Danh sách giao dịch</a></span></div>
                                    </div>
                                </div>
                                <a class="btn btn-xs btn-outline-success float-md-right btnnewemployee" asp-action="Create"> Tạo giao dịch</a>
                                <br />
                                <table id="datatable" class="table table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                    <thead class="thead-light">
                                    <tr role="row">
                                        <th class="border-top-0 sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="No: activate to sort column descending" style="width: 117px;">Id</th>
                                        <th class="border-top-0 sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Time: activate to sort column ascending" style="width: 117px;">Ngày giao dịch</th>
                                        <th class="border-top-0 sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Time: activate to sort column ascending" style="width: 117px;">Tổng tiền</th>
                                        <th class="border-top-0 sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Time: activate to sort column ascending" style="width: 120px;">Trạng thái</th>

                                        <th class="border-top-0 text-warning sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Time: activate to sort column ascending" style="width: 210px;">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>
                                                @item.PurchaseOrderId
                                            </td>
                                            <td>@item.OrderDate</td>
                                            <td>@item.price.ToString("n", CultureInfo.GetCultureInfo("vi-VN")) VND</td>

                                            @if (item.status.Contains("OP"))
                                            {
                                            <td style="text-align: center;padding:10px">
                                                <span class="badge badge-success">@item.status</span>
                                            </td>
                                            }
                                            else
                                            {
                                            <td style="text-align: center;padding:10px">
                                                <span class="badge badge-danger">@item.status</span>
                                            </td>
                                            }
                                            <td>
                                                <a style="margin-left: 8px" class="text-success" asp-action="Details" asp-route-id="@item.PurchaseOrderId">
                                                    <i class="fas fa-bars"></i> Detail
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                                <br />
                                <div class="row">

                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Showing 4 entries</div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        @* Adding pages to the list *@
                                        @{
                                            var disablePrevious = !Model.HasPreviousPage ? "disabled" : "";
                                            var disableNext = !Model.HasNextPage ? "disabled" : "";
                                        }

                                        <a asp-action="Index"
                                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                                           class="btn btn-paging btn-sm @disablePrevious">
                                            Previous
                                        </a>
                                        <a asp-action="Index"
                                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                                           class="btn btn-paging btn-sm @disableNext">
                                            Next
                                        </a>
                                    </div>
                                </div>
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a style="padding: 10px; margin: 10px;"href="~/Admin/PurchaseOrders/PurchaseOrderHome" class="btn btn-info">Return to purchase order menu</a>
<environment names="Development,Staging,Production">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/scripts/jquery.crypto-exchange.init.js"></script>
</environment>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}