@model Payroll_Manager.Areas.Admin.Models.VM_Address.AddressIndexViewModel
@{
    ViewData["Title"] = "Danh sách địa chỉ";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<environment names="Development,Staging,Production">
    <link href="~/css/Animated.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Employee.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/assets/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
</environment>
@if (Model.Addresses != null)
{
    <environment names="Development,Staging,Production">
        <link href="~/css/Animated.css" rel="stylesheet" type="text/css" />
        <link href="~/css/Employee.css" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="~/assets/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    </environment>

    <div class="animated fadeIn employee index">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <nav aria-label="breadcrumb">
                            @* asp-action runs action method name *@
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Address List</li>
                            </ol>
                        </nav><br /><br />
                        <div class="row">
                            <div class="col-lg-12 table-responsive-md">
                                <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="title"><span><a href="#">Address List</a></span></div>
                                        </div>
                                    </div>
                                    <a class="btn btn-xs btn-outline-success float-md-right btnnewemployee" asp-action="Add"> New Address</a>
                                    <table id="datatable" class="table table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                        <thead class="thead-light">
                                            <tr role="row">
                                                <th class="border-top-0 sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="No: activate to sort column descending" style="width: 30px;">Id</th>
                                                <th class="border-top-0 sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Time: activate to sort column ascending" style="width: 30px;">AId</th>
                                                <th class="border-top-0 sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Time: activate to sort column ascending">Địa chỉ</th>
                                                <th class="border-top-0 sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Time: activate to sort column ascending"style="width: 40px;">Mã căn hộ</th>
                                                <th class="border-top-0 sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Time: activate to sort column ascending">Thành phố</th>
                                                <th class="border-top-0 sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Time: activate to sort column ascending">ZipCode</th>
                                                <th class="border-top-0 sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Time: activate to sort column ascending">Quận</th>
                                                <th class="border-top-0 text-warning sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Time: activate to sort column ascending">Hoạt động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var i = 1;
                                            }
                                            @foreach (var item in Model.Addresses)
                                            {
                                            <tr role="row" class="odd">
                                                @{
                                                    string a = "0" + i.ToString();
                                                }
                                                <td class="sorting_1">
                                                    @item.Id
                                                </td>
                                                <td>
                                                    @if (item.AId != null)
                                                    {
                                                        @item.AId
                                                    }
                                                    else
                                                    {
                                                        <p>No value</p>
                                                    }
                                                </td>

                                                <td>
                                                    @if (item.StreetAddress != null)
                                                    {
                                                        @item.StreetAddress
                                                    }
                                                    else
                                                    {
                                                        <p>No value</p>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.AptNumber != null)
                                                    {
                                                        @item.AptNumber
                                                    }
                                                    else
                                                    {
                                                        <p>No value</p>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.City != null)
                                                    {
                                                        @item.City
                                                    }
                                                    else
                                                    {
                                                        <p>No value</p>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.ZipCode != null)
                                                    {
                                                        @item.ZipCode
                                                    }
                                                    else
                                                    {
                                                        <p>No value</p>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.State != null)
                                                    {
                                                        @item.State
                                                    }
                                                    else
                                                    {
                                                        <p>No value</p>
                                                    }
                                                </td>
                                                <td>
                                                    <a style="margin-left: 8px" class="text-primary" asp-action="Update" asp-route-id="@item.Id">
                                                        <i class="fas fa-edit"></i> Edit
                                                    </a>
                                                    <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">
                                                        <i class="far fa-trash-alt"></i> Delete
                                                    </a>
                                                </td>
                                            </tr>
                                                i++;
                                            }
                                        </tbody>
                                    </table>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<environment names="Development,Staging,Production">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/scripts/jquery.crypto-exchange.init.js"></script>
</environment>